{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/bootstrap-3.4.1-dist/css/bootstrap.css' %}">
</head>
<body>
<div class="container">
    <h1 style="margin: 0 auto;text-align: center;margin-top: 30px;margin-bottom: 20px">INFO列表</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>密码</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for data in data_list %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.age }}</td>
                <td>{{ data.password }}</td>
                <td><a href="/info/delete/?nid={{ data.id }}">删除</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<a href="/info/add/" style="text-decoration: none"><input style="margin: 0 auto;text-align: center;display: block"
                                                          type="button" class="btn btn-primary" value="添加用户"></a>


<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/bootstrap-3.4.1-dist/js/bootstrap.js' %}"></script>
</body>
</html>