{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/bootstrap-3.4.1-dist/css/bootstrap.css' %}">
</head>
<body>
<div class="clearfix">
    <div class="container">
        <h1>添加用户</h1>

        <input type="text" class="btn btn-primary" value="新建">

        <img src="{% static 'img/1.jpg' %}" style="height: 150px;margin-top: 10px">
    </div>
</div>


<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/bootstrap-3.4.1-dist/js/bootstrap.js' %}"
</body>
</html>